img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 30px;
  margin-bottom: 20px;
}
